<div class="navbar navbar-static-top">
  <ul class="nav nav-pills">
     <li>
     <a href="/">Home</a>
     </li>
     <li><a href="/dashboard">Dashboard</a></li>
     <li class="active"><a href="/about">About</a></li>
     </ul> 
   
</div>
<div class="container-fluid">
  <div class="page-header"><h1>About</h1></div>
  <div class="row-fluid>
   <div class="span12">
   <p class="lead">This web app was developed by Bryan Collazo, Carlos Rubio, Kidhanis de Jesus Gonzalez, and Anthony Erb Lugo from MIT during the Fall of 2013 at Hack@MIT.
   We hope that it will prove useful and save you time when building your class schedules and calendars.
   This app uses a machine learning algorithm to process the syllabi, so the produced data may have inconsistencies. Use at your own risk.
   Comments or suggestions? We would love to hear from you! Email us at <a href="mailto:#">lounge-perreo@simmons.mit.edu</a>.</p>
   </div>
  </div>