<div class="container">

	<div class="page-header"><h1>Your dashboard</h1></div>

	<% @classes.each do |c| %>
	<div class="row-fluid">
		<div class="well span12">
			<h3><%= c %></h3>
		</div>
	</div>
	<% end %>

</div>
